
<div class="row" style="padding-top: 10%">
<div class="col">
<div class="col-md-10 text-center">

  <h1>Welcome#index</h1>
    <p>Find me in app/views/welcome/index.html.erb</p>
</div>
</div>
</div>
